<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Preserve old archive bookmarks and query strings.
  RewriteRule ^media\.htm$ media.php [R=301,L,NE]
  RewriteCond %{HTTP_HOST} ^devilhood.com [NC]
  RewriteRule ^(.*)$ http://www.devilhood.com/$1 [L,R=301]
  RewriteCond %{HTTP_HOST} ^(www\.)?devilhood\.co\.uk$ [NC]
  RewriteRule ^(.*)$ http://www.devilhood.com/$1 [R=301,L]
</IfModule>

##<IfModule mod_rewrite.c>
##  RewriteRule ^(.*\.js) gzip.php?type=js&file=$1
##  RewriteRule ^(.*\.css) gzip.php?type=css&file=$1
##</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On

ExpiresByType image/jpg "access 1 week"
ExpiresByType image/jpeg "access 1 week"
ExpiresByType image/gif "access 1 week"
ExpiresByType image/png "access 1 week"
ExpiresByType text/css "access 1 week"
ExpiresByType text/html "access 1 week"
ExpiresByType application/pdf "access 1 week"
ExpiresByType text/x-javascript "access 1 week"
ExpiresByType application/x-shockwave-flash "access 1 week"
ExpiresByType image/x-icon "access 1 week"
ExpiresDefault "access 1 week"

# Add correct content-type for fonts
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType font/woff .woff
AddType font/woff2 .woff2
AddType image/svg+xml .svg

# Compress compressible fonts
AddOutputFilterByType DEFLATE font/ttf font/otf image/svg+xml

# Add a far future Expires header for fonts
ExpiresByType application/vnd.ms-fontobject "access 1 month"
ExpiresByType font/ttf "access 1 month"
ExpiresByType font/otf "access 1 month"
ExpiresByType font/woff "access 1 month"
ExpiresByType font/woff2 "access 1 month"
ExpiresByType image/svg+xml "access 1 month"
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

ErrorDocument 400 /error-pages/400.html
ErrorDocument 403 /error-pages/403.html
ErrorDocument 404 /error-pages/404.html
ErrorDocument 500 /error-pages/500.html
